deps/*
build/*
build*/*
bin/*
*.txt
!CMakeLists.txt
!*/*CMakeLists.txt
!*/CMakeLists.txt
!packages.txt
!README.txt


# We don't want images except for default testing
!*/*kung.jpg
!*/*kung*
*.jpg


# MAC DS_Store shenanigans
*/*.DS_Store
.DS_Store
*.DS_Store
.DS_Store

# Don't keep yacc tokenizer temp files
*parsetab.py
*.pyc
*parser.out


*.ipynb_checkpoints



