deps/*
build/*
build*/*
*.txt
!CMakeLists.txt
!*/*CMakeLists.txt
!*/CMakeLists.txt
!packages.txt
!README.txt


# We don't want images except for default testing
!*/*kung.jpg
*.jpg



*/*.DS_Store
.DS_Store
*.DS_Store

*.ipynb_checkpoints



